<br>
<label>Name</label>
<input type="text"
       ng-model="recipeName"
       placeholder="Name your recipe"
       typeahead="recipe.name for recipe in recipes | filter:$viewValue | limitTo:8">
<br>
<br>
<label>Description</label>
<input type="text" ng-model="recipe.recipe_description"/>
<br>
<br>
<label>Cook Time</label>
<input type="text" ng-model="recipe.cook_time"/>
<br>
<br>
<label>Ingredients</label>
<br>
<input type="text"
       ng-model="ingredientName"
       placeholder="Enter an Ingredient"
       typeahead="ingredient.name for ingredient in ingredients | filter:$viewValue | limitTo:8">
<input type="text" ng-model="glycemicIndex" placeholder="Glycemic Index">
<button ng-click="saveIngredient(ingredientName)">Add Ingredient</button>

<ol>
    <li ng-repeat="ingredient in recipe.ingredients">
        <span ng-bind="ingredient.name"></span>
        <span ng-bind="ingredient.glycemic_index"></span>
    </li>
</ol>
<br>
<label>Cook Method</label>
<select type="text" ng-model="recipe.cook_method"
        ng-options="method.stored_name as method.printed_name for method in methods"></select>
<br>
<!--<label>Ingredients</label>
<input type="text" ng-model="searchIngredient.name">
<p ng-repeat="ingredient in ingredients | filter:searchIngredient">
    <a href="javascript:void(0);"
       ng-click="addIngredient(ingredient.id)"
       ng-bind="ingredient.name"
       ng-hide="!ingredient.active"></a>
</p>-->
Selected ingredients:
<span ng-repeat="ingredientId in recipe.ingredients">
        <span ng-bind="getIngredientName(ingredientId)"></span>
    </p>
    <button class="glyphicon glyphicon-remove" ng-click="removeIngredient(ingredientId)"></button>
    </span>
<br>
<br>
<button class="btn btn-s btn-danger" ng-click="saveNewRecipe()">Add Recipe</button>
<br>
<br>
<input type="text" id="tag-input"
       ng-click="saveTag(tagName)"
       ng-model="tagName"
       placeholder="Enter an Tag"
       typeahead="tag.name for tag in tags | filter:$viewValue | limitTo:8">

<button class="btn btn-s btn-danger" ng-click="saveTag(tagName)">Add Tag</button>
<br>
<button ng-repeat="tag in recipe.tags"
        ng-bind="tag.name"
        ng-click="removeTag(tag)"
        class="btn btn-sm btn-info label">

</button>
<!--<ol>
    <li ng-repeat="tag in recipe.tags">
        <span ng-bind="tag.name"></span>
    </li>
</ol>-->
<br>
<!--<form method="post" enctype="multipart/form-data"/>-->
<div>
    <label for="id_photo">Photo:</label>
    <input type="file" id="id_photo" name="photo">
</div>
<!--</form>-->
<br>
<p>{{ status }}</p>