<label>Name</label>
<input type="text" ng-model="recipe.name"/>
<br>
<br>
<label>Description</label>
<input type="text" ng-model="recipe.recipe_description"/>
<br>
<br>
<label>Cook Time</label>
<input type="text" ng-model="recipe.cook_time"/>
<br>
<br>
<label>Cook Method</label>
<select type="text" ng-model="recipe.cook_method"
        ng-options="method.stored_name as method.printed_name for method in methods"></select>
<br>


{{ item }}

<p>{{ status }}</p>
<br>
&nbsp<button class="btn btn-danger" ng-click="deleteRecipe()">Delete</button>
<button class="btn btn-info" ng-click="editRecipe()">Save</button>
<br>
{{ item }}
<br>
<p>{{ status }}</p>

