<h3>{{ recipe.name }}</h3>

<br>

<p>
    <label>Description</label>

    <br>
    {{ recipe.recipe_description }}
</p>
<p>
    <br>
    <label>Cook Time</label>
    <br>
    {{ recipe.cook_time }}
</p>
<br>
<p>
    <label>Ingredients</label>
<p ng-repeat="ingredient in recipe.ingredients">
    {{ ingredient.name }}
</p>
<br>
<br>
<a class="btn btn-success" href="#/edit-recipe/{{ recipe.id }}">Edit This Recipe</a>
<br>
<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->